body {
    background-color:#eee;
    font-family: sans-serif;
}

#intro-title {
    text-align: center;
    line-height: 150%;
    color: #686466;
    padding: 1em 0em 0em 0em;
    font-size: 30px;
}

#election-photo {
    text-align: center;
    position: relative;
}

#election-photo img {
    width: 70%;
    max-width: 70%;
    height: auto;
}

#intro-text {
    text-align: center;
    line-height: 200%;
    padding: 2em;
}

#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.page-title {
    line-height: 150%;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #C21E15;
}

.page-intro {
    line-height: 150%;
    font-size: 15px;
    text-align: center;
    padding: 1em;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-top {
    color: white;
    font-size: 20px;
    position: absolute;
    margin: 15px;
}

.logo-part-1 {
    color: white;
}

.logo-part-2 {
    color: #C21E15;
}

.logo-part-3 {
    color: #004A80;
    font-weight: bold;
}

.box{
    margin: auto;
    width: 300px;
    height: 50px;
    padding: 1em 1em 1.5em 1em;
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input.search{
    width: 300px;
    height: 50px;
    background: #f2edea;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c0bebf;
}

.container-1 input.search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input.search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-1 input.search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

input:focus {
    outline: none;
    border-color: #004A80;
    box-shadow: 0 0 10px #004A80;
}

.photos {
    padding: 6px;
    vertical-align: middle;
    border-radius: .75em;
}

.footer {
    width: 100%;
	height: 25px;
	background: #c0bebf url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMV…vo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2edea), color-stop(1, #c0bebf));
    background-image: -webkit-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -moz-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -ms-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -o-linear-gradient(top, #f2edea, #c0bebf);
    background-image: linear-gradient(#f2edea, #c0bebf);
	z-index: 4;
}
.center-single-column {
    display: block;
    text-align: center;
    padding: 1em 0em 1em 0em;
}

.profile-photo-insta {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.user {
    margin-right: 250px;
    position: relative;
}

.username {
    position: absolute;
    top: 30%;
    padding: 0em 0em 0em 1em;
    font-weight: bold;
    color: #004A80;
}

.caption {
    padding: .5em;
}

.flickr-description {
    padding-top: 0px;
}

.flickr-description a {
    font-weight: bold;
    color: #004A80;
}

.flickr-description img {
    border-radius: .25em;
}

#map-size {
    width: 100%;
    height: 600px;
}

#php-size {
    width: 100%;
    height: 600px;
}

#news-size {
    width: 100%;
    height: 600px;
}

/* Twitter styles */

#twitter-body {
    background-color: white;
}

.twitter-profile-picture {
    width: 50px;
    height: 50px;
    float: left;
}

.twitter-user {
    top: 15%;
    padding: 0px 0px 0px 60px;
    color: #004A80;
}

.tweet-container {
    position: relative;
    border-top: 1px solid #CCCCCC;
    padding: 1em 1em 1.5em 1em;
    background-color: #eee;
}

.twitter-username {
    font-size: 18px;
    font-weight: bold;
    color: #004A80;
}

.twitter-screen-name {
    font-size: 12px;
    color: #CCCCCC;
    font-weight: normal;
}

.tweet-content {
    color: black;
    font-size: 15px;
}

.tweet-content a {
    color: #004A80;
    text-decoration: none;
}

.tweet-photo {
    max-width: 30%;
    max-height: 30%;
    padding: 10px 0px;
}

#resultsMobile {
    display: none;
}

#results {
    display: block;
}

.wrapper-dropdown-1 {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}

.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;
}

.wrapper-dropdown-1 .dropdown {
	/* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */

    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}

.centerDropdown {
    left: auto !important;
    right: -25% !important;
}
.centerDropdown:after {
   left: auto !important;
   right: 45% !important;
}

/* Styles for responsive design */
@media screen and (max-width: 860px) {
    #election-photo img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    #intro-text {
        padding: 2em .5em 2em .5em;
    }
    #php-size {
        height: 300px;
    }
    #results {
        display: none;
    }
    #resultsMobile {
        display: block;
    }
    .flickr-description {
        padding-top: 30px;
    }
    .tweet-photo {
        max-width: 100%;
        max-height: 100%;
        padding: 10px 0px;
    }
    .user {
        padding-top: 40px;
    }
    .username {
        top: 60%;
    }
}
