html {
	font-family: sans-serif;
}

body {
	background-color: #222222;
}

#sb-site, .sb-site-container {
	padding: 14px;
}

.sb-slidebar {
	/*padding: 14px;*/
	color: #fff;
}

html.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

/* Fixed position examples */
#sb-site.top-padding {
	padding-top: 50px;
}

#fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background: #c0bebf url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMV…vo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2edea), color-stop(1, #c0bebf));
    background-image: -webkit-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -moz-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -ms-linear-gradient(top, #f2edea, #c0bebf);
    background-image: -o-linear-gradient(top, #f2edea, #c0bebf);
    background-image: linear-gradient(#f2edea, #c0bebf);
	z-index: 4;
}

#fixed-top span.sb-toggle-left {
	float: left;
	color: white;
	padding: 10px;
}

#fixed-top span.sb-toggle-right {
	float: right;
	color: white;
	padding: 10px;
}
